<?xml version="1.0" encoding="UTF-8"?>
<Server>
<!--    <Context path="/b" docBase="/Users/pc/Desktop/ZYX/kJava/PROJECT_SEVEN/diyTomcat/webapps/ROOT/b" />-->

    <Server name="Catalina">
        <Service name="Catalina">
            <Engine defaultHost = "localhost">
                <Host name = "127.0.0.1">
                    <Context path="/b" docBase="/Users/pc/Desktop/ZYX/kJava/PROJECT_SEVEN/diyTomcat/webapps/ROOT/b" />
                </Host>
            </Engine>
        </Service>
    </Server>

</Server>
